.student-card{
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 15px;
}
.student-card img{
    width: 100%;
    border-radius: 5px;
}
.student-card .add-btn{
    background-color: salmon;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
.student-card .add-btn:hover{
    /* border: 1px solid salmon; */
    background-color: rgb(85, 85, 85);
    color: white;
    cursor: pointer;
}